$color-background-dark: #2f1893;
$color-background-light: #ffffff;

$color-action-primary: #25dac4;
$color-action-secondary: #482be7;
$color-action-tertiary: #e93a7d;

$color-font-heading: #1e0e62;
$color-font-white: #ffffff;
$color-font-grey: #ebeaed;
$color-font-transparent: rgba(21, 20, 57, 0.4);

$color-socials-twitter: #1da1f2;
