@use "../../variables.scss" as *;

.input-ui {
  &.input-ui__input {
    height: 50px;
    border: 2px solid $color-font-grey;
    border-radius: 100px;
    padding-left: 24px;

    &::placeholder {
      color: $color-font-transparent;
    }
  }

  &.input-ui__checkbox {
    display: flex;
    align-items: center;

    label,
    input {
      cursor: pointer;
    }

    label {
      padding-left: 13px;
    }

    input {
      height: 24px;
      width: 24px;
      accent-color: $color-action-primary;
      border-radius: 6px;
    }
  }
}
